<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wastefoodmanagementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasteFoodManagementApp">

        <!--        Activities by Ankit-->
        <activity
            android:name=".Loginactivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
<!--        Ankit Activites ends here-->
        <activity
            android:name=".DonateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TeamActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ShoaibActivity"
            android:exported="false"
            android:label="From Shoaib Moona"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".JayActivity"
            android:exported="false"
            android:label="From Jayveer Mall"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".DeveshActivity"
            android:exported="false"
            android:label="From Devesh Pandey"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AsimActivity"
            android:exported="false"
            android:label="From Sayed Mohd Asim"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".AnkitActivity"
            android:exported="false"
            android:label="From Ankit Kumar"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>